h11
pip
PyYAML
typing_extensions
sniffio
click
uvloop
fastapi
starlette
pydantic
pydantic_core
websockets
anyio
uvicorn
httptools
watchfiles
annotated-types
python-multipart
numpy
matplotlib
librosa
pillow
soundfile
pylint
fastapi[standard]
wave
scipy
pytest
